{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/jQuery.js' %}" ></script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'catalog' %}">Каталог</a>
    
    {% for product in products %}
        <form method="post" action="{% url 'cart' %}">
            
            {% csrf_token %}
            
            <img src="{{ product.product_image.url }}">
            <p>{{ product.product_name }}</p>
            <p>{{ product.product_description }}</p>
            <h3>{{ product.product_price }}</h3>
            <input type="button" class="button-minus button" value="-">
            <span class="count">{{ product.product_amount }}</span>
            <input type="button" class="button-plus button" value="+">
            
            <h2>{{ product.product_final_price }}</h2>грн

            <button type="submit" class='button-del button' id="{{ product.product_pk }}" value="{{ product.product_pk }}">Видалити</button>

        </form>
    
    {% endfor %}
</body>
</html>